<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatMsgDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16D100BE1BFF0C4F008391AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D100D71BFF0C4F008391AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D100E21BFF0C4F008391AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
